@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.2] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.2] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.2] font-semibold;
  }
}

:root {
  --color-primary: #000000;
  --color-accent: #00f5d4;
  --bg-color: #000000;
  --text-color: #e7e5f0;
  --stair-color: #f8f8f8;
  --stair-bg: #00f5d4;
}

.dark {
  --color-primary: #ffffff;
  --color-accent: #00ccaf;
  --bg-color: #f5f5f5;
  --text-color: #1e1a25;
  --stair-color: #181818;
  --stair-bg: #1e2122;
}

.body-font {
  font-family: var(--font-jetbrains-mono);
}

html {
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition-property: all;
  transition-duration: 500ms;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

.stairs {
  .transition-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 2;

    div {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(30px) saturate(150%) brightness(105%);
      -webkit-backdrop-filter: blur(30px) saturate(150%) brightness(105%);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      transition: all 1s ease-in-out;
    }
  }

  .transition-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 1;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}
